@media only screen and (min-width: 1000px) {
  .searchField, .searchContainer {
    width: 80%;
  }
}

@media only screen and (min-width: 1300px) {
  .searchField, .searchContainer {
    width: 50%;
  }
}

@media only screen and (max-width: 450px) {
  header h1 {
    font-size: 1.3rem !important;
  }

  header, footer p {
    font-size: 13px !important;
  }
}

@media only screen and (max-width: 300px) {
  header h1 {
    font-size: 1rem !important;
  }
  header, footer p {
    font-size: 10px !important;
  }

}

.searchField, .searchContainer {
  margin: auto;
}

.bar{
  margin:0 auto;
  width:100%;
  border-radius:30px;
  border:1px solid #dcdcdc;
  text-align: center;
}
.bar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}
.searchbar{
  height:45px;
  border:none;
  width:80%;
  font-size:16px;
  outline: none;
  
}

tr td:first-child {
  padding-left: 2% !important;
}

footer {
  position: fixed;
  bottom: 8px;
  left: 8px;
  right: 8px;
  margin-bottom: 0px;
}