body {
  font-family: 'Noto Sans JP', sans-serif !important;
  margin: 0px !important;
}

.searchField, .searchContainer {
  margin: auto;
}

.product-col {
  border-radius: 20px !important;
  background-color: #ffffff;
}

.arrow {
  border: solid rgb(181, 181, 181);
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.card-transition {
  transition: box-shadow 0.5s;
  will-change: transform;
}

.product-col:hover {
  border: 1px solid #dcdcdc;
}

.alt-brand:hover{
  text-decoration: underline;
}

.bar{
  margin:0 auto;
  width:100%;
  border-radius:30px;
  border:1px solid #dcdcdc;
  text-align: center;
}
.bar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}
.searchbar{
  height:45px;
  border:none;
  width:80%;
  font-size:14px;
  outline: none;
  
}

tr td:first-child {
  padding-left: 2% !important;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  position: relative;
  padding: .75rem 1.25rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: opacity .15s linear;
}

/* CSS rules are kept repetitive so that you can get CSS rules for each button easily :) */


.button-toggle
{
    position: relative;
    top: 50%;
    width: 60px;
    height: 15px;
    margin: 0 auto 0 auto;
    overflow: hidden;
    margin-right: 0;
}

.button-toggle.r, .button-toggle.r .layer
{
    border-radius: 100px;
}

.hindi-lang-toggle {
  margin-right: 60px;
  width: inherit;
}

.hindi-lang-toggle p{
  margin-top: 0;
  margin-bottom: 0;
  position: absolute;
  right: 0;
  margin-right: 60px;
}


.checkbox-toggle
{
    position: relative;
    width: 55%;
    height: 100%;
    padding: 0;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 3;
}

.layer
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 2px;
    left: 0;
}

.knobs
{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.knobs
{
    z-index: 2;
}

.layer
{
    width: 48%;
    background-color: #ebf7fc;
    transition: 0.1s ease all;
    z-index: 1;
}
/* Button 3 */
.button-toggle .knobs:before
{
    content: '';
    position: absolute;
    top: 4px;
    left: 4px;
    width: 4px;
    height: .2px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    line-height: 1;
    padding: 3.5px 3.5px;
    background-color: #03A9F4;
    border-radius: 50%;
    transition: 0.1s ease all/*, left 0.3s cubic-bezier(0.18, 0.89, 0.35, 1.15);*/
}

.button-toggle .checkbox-toggle:active + .knobs:before
{
    width: 25px;
    border-radius: 100px;
}

.button-toggle .checkbox-toggle:checked:active + .knobs:before
{
    margin-left: -26px;
}

.button-toggle .checkbox-toggle:checked + .knobs:before
{
    content: '';
    left: 20px;
    background-color: #F44336;
}

.button-toggle .checkbox-toggle:checked ~ .layer
{
    background-color: #fcebeb;
}

.header-container {
  height: 75px;
}

.footer-container {
  height: 50px;
}

.alert-success p {
  width: fit-content;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  padding-left: 15px;
}


footer p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.lang-toggle-container {
  margin-top: -68px;
  width: fit-content;
  float: right;
  padding: 24px;
}

.nav-bar-header {
  width: fit-content;
  margin-right: 80px;
  margin-top: -90px;
  display: none;
  padding: 24px;
}


.category-col {
  border-radius: 20px;
  height: 180px;
}

.category-title {
  position: absolute;
  top: 50%; 
  left: 50%;
  transform: translate(-50%,-50%);
}


.search-result-indian-icon {
  text-align: center;
  font-size: 14px;
  padding: 5px;
  padding-right: 10px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  right: 0;
  position: absolute;
}

.nav-bar-body {
  width: fit-content;
  margin: 5% auto
}

.feedback-button {
  width: 85px !important;
  margin-right: 6px !important;
  padding: .075rem .375rem !important;
}

.play-store-button {
  margin-right: 6px;
  width: 112px;
}

.page-content{
  padding-left: 15px;
  padding-right: 15px;
  margin-right: -7px !important;
  margin-left: -7px !important;
}

.product-image, .company-image {
  height: 400px;
}

.product-attr, .company-attr {
  border-top: 1px solid #f2f2f2;
}

.product-attr-key, .company-attr-key{
  font-size: 14px;
  color: #333;
  margin-top: 12px;
  font-weight: 400;
}

.product-attr-desc, .company-attr-desc{
  font-size: 14px;
  border-color: #f2f2f2;
  color: #666;
  line-height: 1.67;
  font-weight: 200;
  margin-top: 4px;
  margin-bottom: 12px;
}

.search-result-title{
  min-height: 29px !important;
  font-size: 13px;
  padding-right: 0px !important;
  padding-left: 5px !important;
}

.product-attr-wrapper, .company-attr-wrapper {
  margin-top: 5px;
}

.product-card-image {
  height: 75%
}

.btn-custom-block{
  width: 80%;
}

@media only screen and (min-width: 1000px) {
  .searchField, .searchContainer {
    width: 80%;
  }

  .alert-success {
    height: 75px;
  }

  .alert-success  p{
    font-size: 18px;
  }
  
  .nav-bar-header {
    display: block !important;
  }

  .nav-bar-body {
    display: none !important;
  }

  .feedback-button {
    margin-right: 2px !important;
  }

  .play-store-button {
    margin-right: 0;
  }

  header {
    margin-bottom: 4rem;
  }

  .search-result-title  {
    margin-left: 20px;
  }

  .is-indian-btn {
    position: absolute !important;
    right: -20px;
    max-width: 142px !important;
  }

}

@media only screen and (min-width: 1300px) {

  .searchField, .searchContainer {
    width: 50%;
  }

  .search-result-title  {
    margin-left: 13px;
  }

  .is-indian-btn {
    position: absolute !important;
    right: -25px;
    max-width: 130px !important;
  }
}
@media only screen and (min-width: 1500px) {

  .is-indian-btn  {
    max-width: fit-content !important;
    
  }

  .is-indian-btn button {
    width: 80px !important;
  }

  .search-result-title {
    max-width: 114px !important;
    margin-left: 15px;
  }
}

@media only screen and (min-width: 1890px) {

  .is-indian-btn {
    max-width: 145px !important;
  }

  .search-result-title {
    max-width: 166px !important;
    margin-left: 30px;
  }
}

@media only screen and (max-width: 1200px) {
  .lang-toggle-container {
    margin-top: -30px;
    width: fit-content;
    float: right;
    margin-right: 14px;
    padding: 0;
  }

  .nav-bar-header {
    width: fit-content;
    margin-right: 75px;
    margin-top: -50px;
    padding: 0;
  }
}

@media only screen and (max-width: 1000px) {
  .alert-success p {
    font-size: 14px;
  }

  .alert-success {
    height: 70px;
  }

  .home-link{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
  }
  .page-title{
    padding-left: 15px;
    padding-right: 15px;
  }

  .product-image, .company-image {
    height: 240px !important;
  }

  .search-result-title{
    padding: 5px;
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  .is-indian-btn {
    padding-left: 24px !important; 
    padding-right: 24px !important;
  }

  .product-card-image {
    height: 60%
  }
  .btn-custom-block{
    width: 100%;
    display: block;
  }

  .category-col {
    min-height: 180px;
  }

}

@media only screen and (max-width: 767px) {
  .product-attr-key, .company-attr-key{
    font-size: 14px;
  }
  
  .product-attr-desc, .company-attr-desc{
    font-size: 14px;
  }
}

@media only screen and (max-width: 450px) {
  header h1 {
    font-size: 1.3rem !important;
  }

  header, footer p {
    font-size: 13px !important;
  }

  .header-container {
    height: 55px;
  }

  .footer-container {
    height: 30px;
  }

  .lang-toggle-container {
    margin-top: -25px;
    width: fit-content;
    float: right;
    margin-right: 10px;
    padding: 0;
  }

  .search-result-title{
    font-size: 13px;
    line-height: 14px;
  }

}

@media only screen and (max-width: 400px) {
  .product-attr-key, .company-attr-key{
    font-size: 12px;
  }
  
  .product-attr-desc, .company-attr-desc{
    font-size: 12px;
  }
}

@media only screen and (max-width: 350px) {
  .alert-success p {
    font-size: 12px;
  }

  .searchbar {
    font-size: 12px;
  }

  .lang-toggle-container {
    margin-top: -25px;
    width: fit-content;
    float: right;
    margin-right: 10px;
    padding: 0;
  }

  .category-col {
    height: 160px;
  }
  .search-result-indian-icon {
    padding-top: 0;
    font-size: 12px;
  }

  .search-result-title{
    font-size: 12px;
    line-height: 14px;
  }

}


@media only screen and (max-width: 300px) {
  header h1 {
    font-size: 1rem !important;
  }
  header, footer p {
    font-size: 10px !important;
  }

  .header-container {
    height: 45px;
  }

  .alert-success p {
    font-size: 10px;
  }

  .alert-success {
    height: 50px;
  }

  .searchbar{
    height:30px;
  }

  .search-result-indian-icon {
    font-size: 10px;
  }
  
  .search-result-title p {
    font-size: 10px;
  }

  .product-image, .company-image {
    height: 180px;
  }

}

.nav-bar-button {
  color: #000 !important;
  background-color: #99a056 !important;
  border: #99a056 !important;
}

.nav-button {
  color: #000 !important;
  background-color: #99a056 !important;
  border: #99a056 !important;
}

@media only screen and (max-width: 300px) {
  .nav-button {
    width: 70px !important;
    font-size: 10px !important;
  }

  .nav-app-button {
    width: 75px !important;
  }

  .search-result-table th, td{
    font-size: 14px !important;
  }
  .category-col {
    border-radius: 10px;
    height: 80px;
  }
}
