.searchField, .searchContainer {
  margin: auto;
}

.bar{
  margin:0 auto;
  width:575px;
  border-radius:30px;
  border:1px solid #dcdcdc;
  text-align: center;
}
.bar:hover{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
}
.bar:focus-within{
  box-shadow: 1px 1px 8px 1px #dcdcdc;
  outline:none;
}
.searchbar{
  height:45px;
  border:none;
  width:500px;
  font-size:16px;
  outline: none;
  
}


@media only screen and (max-width: 450px) {

  .bar{
    width:400px;
  }

  .searchbar{
    width:350px;
  }

}

@media only screen and (max-width: 375px) {
  .searchField, .searchContainer {
    margin: auto;
  }

  .bar{
    width:300px;
  }

  .searchbar{
    width:250px;
  }

}
